<mat-card class="w-[400px]">
  <mat-card-content>
    <form
      class="flex flex-col place-content-between gap-2"
      [formGroup]="loginForm"
      (ngSubmit)="emitOnSubmit()"
    >
      <mat-form-field>
        <mat-label for="username">Username</mat-label>
        <input id="username" matInput type="text" formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          id="password"
          type="password"
          matInput
          formControlName="password"
        />
      </mat-form-field>
      <button mat-raised-button color="primary">Log In</button>
      <button mat-stroked-button type="button" routerLink="/register">
        Register
      </button>
    </form>
  </mat-card-content>
</mat-card>
