<mat-card class="w-[400px]">
  <mat-card-content>
    <form
      class="flex flex-col place-content-between gap-2"
      [formGroup]="registerForm"
      (ngSubmit)="emitOnSubmit()"
    >
      <mat-form-field>
        <mat-label for="first-name">First name</mat-label>
        <input
          id="first-name"
          matInput
          type="text"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="last-name">Last name</mat-label>
        <input id="last-name" matInput type="text" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="username">Username</mat-label>
        <input id="username" matInput type="text" formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input id="email" matInput type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          id="password"
          matInput
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!isReadyToSubmit()">
        Register
      </button>
      <button mat-stroked-button color="warn" type="button" routerLink="/login">
        Cancel
      </button>
    </form>
  </mat-card-content>
</mat-card>
